html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: #cbfcff;
  color: #eee;
  min-height: 100vh;
  
}
body > div {
  background: #022141;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  color: #79f7ff;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.hide {
  display: none;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#footer {
  position: relative;
  font-size: 12px;
  margin-top: 20px;
  color: #333;
  background: linear-gradient(#acd6f3, #60a1cf);
}
#footer .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px;
}
@media (min-width:500px) {
  #footer .container {
    max-width: 1040px;
    margin: 0 auto; 
  }
}
#footer hr {
  --curved-lineWidth: 10;
  --curved-lineColor: #acd6f3;
}
#footer .curvedlineWrapper {
  position: absolute;
  top: -20px;
  width: 100%;
}
#footer a {
  color: #000;
}
#footer a:hover {
  text-decoration: underline;
}

em {
  color: #ff6c98;
  font-style: normal;
}
code {
  color: #ffb47d;
  font-size: 0.9em;
  font-family: "Source Code Pro", monospace;
}
code::after,
code::before {
  content: "`";
}
hr {
  --curved-lineHeight: 10;
  --curved-lineWidth: 10;
  --curved-lineColor: #444;
  --curved-lineSpread: 30;
  height: 20px;
  width: calc(100% + 90px);
  margin: 10px 0 0;
  border: 0;
  transform: translate(0);
  background: paint(curved-line);
  animation-duration: 3s;
  animation-name: curvedLineAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.curvedlineWrapper {
  overflow: hidden;
}
@keyframes curvedLineAnimation {
  from {
    transform: translate(-90px);
  }
  to {
    transform: translate(0);
  }
}

#header {
  color: #000;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
  position: relative;
  padding: 20px 0 70px;
  background: linear-gradient(#cbfcff, #ffebcc);
}
#header .container {
  width: 360px;
  margin: 0 auto;
}
@media (min-width:500px) {
  #header .container {
    width: auto;
    max-width: 1040px;
  }
}
#header sup {
  font-size: 10px;
  font-weight: normal;
}
#header  p {
  font-size: 14px;
  padding: 10px 15px 0;
  margin: 0;
}
#header hr {
  --curved-lineWidth: 10;
  --curved-lineColor: #acd6f3;
}
#header .curvedlineWrapper {
  position: absolute;
  bottom: -10px;
  width: 100%;
  pointer-events: none;
}
#header h3 {
  font-size: 18px;
  padding: 0 15px;
  margin: 0;
}
#header h3 a {
  color: #000;
  border-bottom: 1px dotted #ff9d07;
}

nav {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: none;
  padding: 0 15px;
}

nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul {
  width: 100%;
  display: flex;
  align-items:flex-end;
}
nav li {
  display: flex;
  padding-right: 1px;
}
nav li a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 17px 10px 15px;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid transparent;
  box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.04);
  background: rgba(255, 255, 255, 0.8);
}
nav .current a {
  background: linear-gradient(#8ce9ff,#ffffff);
  padding-bottom: 25px;
  border-bottom: 2px solid #fff;
  text-shadow: 0 0 2px rgba(255,255,255,0.4);
  box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.1);
}
nav li span {
  font-size: 9px;
  font-weight: normal;
  text-transform:none;
}