.container {
  display: flex;
  align-items: center;
  width: 1040px;
  min-height: 100vh;
  margin: 0 auto; 
}

.main h1 {
  font-size: 20px;
  font-weight: normal;
}
.main h2 {
  font-size: 24px;
  margin-top: 2em;
}

.footer {
  margin: 5em 0 2em;
  border: 0;
}